.button {
	border: 2px #50a050 solid;
	border-radius: 10px;
	color: #202020;
	text-align: center;
	padding: 10px 15px;
	display: inline;
	transition: ease 0.3s;
	width: 90px;
}

.button:hover {
	transition: ease 0.3s;
	background-color: #50a050;
	color: #f0ffff;
}