.navbar {
	height: 60px;
	width: 100%;
	background-color: #202020;
}

.navcontainer {
	height: 100%;
	width: calc(100% - 30px);
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.title {
	font-size: 28px;
	text-decoration: none;
	color: #f0ffff;
	margin: auto 0;
}

ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	max-width: 400px;
}

li {
	height: 75%;
	padding: 0 10px;
	border: 1px solid #f0ffff;
	border-radius: 10px;
	margin-left: 10px;
}

li > a {
	display: block;
	text-decoration: none;
	color: #f0ffff;
	margin-top: 10px;
}